<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >


  <name>Avora App</name>

  <description>
      Access all of Avora right on the screen
  </description>

  <author href="https://newworldgroup.com" email="oelbaga@newworldgroup.com">
      Hardeep Shoker
  </author>

</widget>